[submodule "cpp"]
	path = cpp
	url = git@github.com:paul-nelson-baker/exercism-cpp-solutions.git
[submodule "kotlin"]
	path = kotlin
	url = git@github.com:paul-nelson-baker/exercism-kotlin-solutions.git
[submodule "ecmascript"]
	path = ecmascript
	url = git@github.com:paul-nelson-baker/exercism-ecmascript-solutions.git
[submodule "java"]
	path = java
	url = git@github.com:paul-nelson-baker/exercism-java-solutions.git
[submodule "typescript"]
	path = typescript
	url = git@github.com:paul-nelson-baker/exercism-typescript-solutions.git
[submodule "go"]
	path = go
	url = git@github.com:paul-nelson-baker/exercism-go-solutions.git
[submodule "haskell"]
	path = haskell
	url = git@github.com:paul-nelson-baker/exercism-haskell-solutions.git
